<div class="main-content">
  <div class="container-fluid">
      


      <div class="row">

        <div class="row col-lg-6 col-md-0 col-sm-6">

          <div class="col-lg-12 col-md-0 col-sm-6">
              <div class="card card-chart">

                <div class="card-body">
                    <div class="card-body">
                        <h4 class="card-title">tweets sur les dernieres 24h</h4>
                    </div>
                </div>

                  <div class="card-header card-header-info">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>

                  <div class="card-body">
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> tweet par rapport a hier</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-lg-12 col-md-0 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">nb de tweet</p>
                    <h3 class="card-title">+245</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        


      <div class="col-lg-12 col-md-0 col-sm-6">
          <div class="card card-chart">

              <div class="card-body">
                  <h4 class="card-title">Derniers tweets</h4>

                  <div class="card-body">
                    <p class="card-category">tweet 1</p>
                 </div>

                 <div class="card-body">
                    <p class="card-category">tweet 1</p>
                 </div>

              </div>

          </div>
        </div>


        </div>





        <div class="row col-lg-6 col-md-0 col-sm-6">
            <div class="col-lg-12 col-md-6 col-sm-6">
                <div class="card card-chart">
   
                    <div class="card-body">
                        <h4 class="card-title">informations</h4>
  
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>
                        <p class="card-category">c'est une information</p>


  
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
          </div>



    
  
            

      </div>

  </div>
</div>
