<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="no-border">
            <input type="text" id="barreRecherche" value=""  placeholder="Recherche...">

            <button mat-raised-button (click)="cherche()" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
            </button>

        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#/dashboard">
                      <i class="material-icons">dashboard</i> Dashboard
                      <p>
                          <span class="d-lg-none d-md-block">Dashboard</span>
                      </p>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#/maps">
                      <i class="material-icons">map</i> Maps
                      <p>
                          <span class="d-lg-none d-md-block">Maps</span>
                      </p>
                  </a>
              </li>
            </ul>
        </div>
    </div>
</nav>
