<div class="main-content">
  <div class="container-fluid">



      <div class="row">

        <div class="row col-lg-6 col-md-0 col-sm-6">

          <div class="col-lg-12 col-md-0 col-sm-6">
              <div class="card card-chart">

                <div class="card-body">
                    <div class="card-body">
                        <h4 class="card-title">Evolution des Tweets sur les dernières 24h</h4>
                    </div>
                </div>

                  <div class="card-header card-header-info">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>

                  <div class="card-body">
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Tweets par rapport à hier</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> mis à jour il y a 4 minutes
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-lg-12 col-md-0 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">Nombre de tweets</p>
                    <h3 class="card-title">+177013</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> mis à jour il y a 4 minutes
                    </div>
                </div>
            </div>
        </div>

      <div class="col-lg-12 col-md-0 col-sm-6">
          <div class="card card-chart">
              <div class="card-body">
                  <h4 class="card-title">Derniers tweets</h4>
                  <div class="card-body">
                    <p class="card-category">tweet 1</p>
                 </div>
                 <div class="card-body">
                    <p class="card-category">tweet 1</p>
                 </div>
              </div>
          </div>
        </div>
      </div>

        <div class="row col-lg-6 col-md-0 col-sm-6">
            <div class="col-lg-10 col-md-6 col-sm-6">
                <div class="card card-chart">
                    <div class="card-body">
                        <h3 id="infoTitre" class="card-title">HunterxHunter</h3>

                        <img class="row col-lg-6 col-md-0 col-sm-6" id="infoImage" src="https://cdn.myanimelist.net/images/anime/11/33657.jpg">
                        <p id="infoRating" class="card-category"><b>Rating : </b>100 / 100</p>
                        <p id="infoEpisode" class="card-category"><b>Episodes : </b> beaucoup trop</p>
                        <p id="infoSynopsis" class="card-category"><b>Synopsis : </b> Mais, vous savez, moi je ne crois pas
                        qu'il y ait de bonne ou de mauvaise situation.
                        Moi, si je devais résumer ma vie aujourd'hui avec vous,
                        je dirais que c'est d'abord des rencontres,
                        Des gens qui m'ont tendu la main,
                        peut-être à un moment où je ne pouvais pas, où j'étais seul chez moi.
                        Et c'est assez curieux de se dire que les hasards,
                        les rencontres forgent une destinée...
                        Parce que quand on a le goût de la chose,
                        quand on a le goût de la chose bien faite,
                        Le beau geste, parfois on ne trouve pas l'interlocuteur en face,
                        je dirais, le miroir qui vous aide à avancer.
                        Alors ce n'est pas mon cas, comme je le disais là,
                        puisque moi au contraire, j'ai pu ;
                        Et je dis merci à la vie, je lui dis merci,
                        je chante la vie, je danse la vie... Je ne suis qu'amour!
                        Et finalement, quand beaucoup de gens aujourd'hui me disent :
                        "Mais comment fais-tu pour avoir cette humanité ?",
                        Eh bien je leur réponds très simplement,
                        je leur dis que c'est ce goût de l'amour,
                        Ce goût donc qui m'a poussé aujourd'hui
                        à entreprendre une construction mécanique,
                        Mais demain, qui sait, peut-être simplement
                        à me mettre au service de la communauté,
                        à faire le don, le don de soi... </p>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i><p id="infoUpdateAt"> mis à jour il n'y a pas longtemps...</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
